body {
  background: #F5F5F5;
  color: #2F4F4F;
  font-family: "MS Sans Serif", Geneva, sans-serif;
}

#wrapper {
  background-color: white;
  padding: .5em 1em;
  border: 1px solid #e5e5e5;
  margin: 1.5em auto;
}

a { font-family: Arial, Arial, Helvetica, sans-serif; }

a:link, a:visited {
  text-decoration: none;
  color: #2277cc;
}

h1,h2,h3,h4,h5,h6 {
  font-family: Verdana, Verdana, Geneva, sans-serif;
}

h1 { margin-bottom: 0; padding-bottom: 0; }
h2 { margin-bottom: 0.5em; font-size: large; border-bottom: 2px solid #999; }
h3 { margin-bottom: 0; font-size: medium; }
h4 { margin-bottom: 0; font-size: medium; }


hr {
  color: #F58025;
  background-color: #F58025;

  clear: both;
  height: 3px;
  border: none;
  margin: 0.5em 0.5pc;
}


.sectiontitle {
  margin-bottom: 0.5em;
  font-size: large;
}

.method {
  margin-top: 10px;
  margin-left: 20px;
  border-bottom: 1px dashed black;
}

.method .description {
  margin-left: 20px;
}

.method p {
  margin-top: 3px;
  margin-bottom: 3px;
}

#class_index a {
  font-size: smaller;
}

.box h3 { margin-bottom: 0; }
.box ul { list-style: none; padding: 0; margin: 0 0 .5em 0; }
.box li { padding: 0; margin-left: 1em;}

a:hover, a:active {
  text-decoration: underline;
}

a:link, a:visited {
  color: #2277CC;
  text-decoration: none;
}

pre {
  border: 1px dotted black;
  padding: 0.5em;
  background: #FFFFEE none repeat scroll 0 0;
}
